# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
**/tf-backup-*.tar.gz
**/.terraform/providers/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDE
.vscode/
.idea/

# Ansible
*.retry
